---
layout: default
---
<h1 class="post-title">Hi!</h1>
<div class="post-line"></div>
<p><img src="../assets/img/psv.jpg" alt="pic">Philips Stadium, Eindhoven, Sep 2022.</p>
<div class="post-line"></div>
<h2 id="affiliation">Affiliation</h2>


<p>
<h4>皇甫 度均<br>
Hwangbo, Dogyun</h4>
筑波大学数理物質系助教<br>
Assistant professor at the Faculty of Pure and Applied Sciences, University of Tsukuba, Japan<br>
<h4>Tel:</h4> +81-29-853-7474  
(sub) +81-29-853-4325  
<h4>Office:</h4>
3rd floor, Plasma Research Center (PRC)<br>
(sub) Room #602, Natural Sciences Building B, University of Tsukuba
</p>


<p>Please find 'About' for accomplishments etc.</p>



</div>